<!-- Library Page -->

<%= erb :"books/_sidebar" %>

<div id="page_container">
  <h3>Books</h3>

  <%# if @books.count < 1 %>
  <!-- <p id="no-books-message">This playlist is empty. Add a book.</p> -->
  <%# end %>

  <ul id="book_list">
    <% @books.each do |t| %>
    <li id="<%= t.id %>" class="outer">
      <ul class="pure-menu-list">
        <img src="<%= t.photo_url %>" class="book-thumbnail">
        <li class="title"><%= t.title %></li>
        <li class="author">by <%= t.author %></li><br/>
        <li>
          <audio controls>
            <!-- <source src="<%= t.audio_link_ogg %>" type="audio/ogg"> -->
            <source src="<%= t.audio_link_mpg %>" type="audio/mpeg" class ="audiobox">
              Your browser does not suppor the audio element.
          </audio>
        </li>
        <li>&#9734;</li>
      </ul>
    <% end %>
  </ul>

</div>
