<!-- Library Page -->

<%= erb :"playlists/_sidebar", locals: { playlists: @playlists } %>

<div id="page_container">
  <h3><%= @playlists.find(params[:id] || 1).title %></h3>

  <%# if @playlist.books.count < 1 %>
    <!-- <p id="no-books-message">This playlist is empty. Add a book.</p> -->
  <%# end %>

  <ul id="book_list">
    <% @playlists.find(params[:id] || 1).books.each do |t| %>
    <li id="<%= t.id %>" class="outer">
      <ul class="pure-menu-list">
        <a href="/users/<%= params[:user_id] %>/playlists/<%= t.playlist_id %>/books/<%= t.id %>"><img src="<%= t.photo_url %>" class="book-thumbnail"></a>
        <li class="title"><a href="/users/<%= params[:user_id] %>/playlists/<%= t.playlist_id %>/books/<%= t.id %>"><%= t.title %></a></li>
        <li class="author">by <%= t.author %></li><br/>
        <li>
          <audio controls>
            <source src="<%= t.audio_link_mpg %>" type="audio/mpeg" class ="audiobox">
              Your browser does not suppor the audio element.
          </audio>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" id="star" class="pure-menu-link">&#9734;</a>
            <ul class="pure-menu-children">
              <% @playlists.each do |t| %>
                <li class="pure-menu-item"><a href="/users/<%= current_user.id %>/playlists/<%= t.id %>" class="pure-menu-link"><%= t.title %></a></li>
              <% end %>
            </ul>
        </li>
      </ul>
    <% end %>
  </ul>

</div>
